<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Striped Progress bar </h4>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-danger progress-bar-striped active" 
                        style="height:5px;"
                        [style.width]="getProgress1"
                        role="progressbar"> 
                    </div>
                </div>
                <div class="progress m-t-20">
                    <div class="progress-bar bg-primary progress-bar-striped active" 
                        style="height:5px;"
                        [style.width]="getProgress2"
                        role="progressbar"> 
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementer 
                (outputVal)="progress1=$event" 
                [btnClass]="'btn-red'" 
                [valor]="progress1"></app-incrementer>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementer (outputVal)="progress2=$event" [valor]="progress2"></app-incrementer>
            </div>
        </div>
    </div>
</div>